body {
/* font-family: "Montserrat"; */
text-align: center;
    
} 


h3{
  color: #f96f11;
  display: block;
  background-color: #722805;
  /* text-align: center; */
}

/* * {
    font-family: Raleway;
    
} */

.btn{
  align-items: center;

}

html {
    background-color: #f96f11;
}

/* button{
    background-color:#722805;
    border: #722805;
} */

p{
  color:#f96f11;
}

h2 h3 h4{
  color:#f96f11;
}



/* img {
    border-radius: 30%;
    max-width: 40%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
} */

/* Headings */

/* .top-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900px;
    color: #f96f11;

} */

/* title */



#squats {
display: none;
}

#lower {
  display: none;
  }

#short-flexibility {
  display: none;
}

#full-flexibility {
  display: none;
}

#mobility {
  display: none;
}

#upper {
  display: none;
}

/* section{
  background-color: #722805;
  
} */

.container-fluid {
    padding: 2% 15%;
    background-color: #722805;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat-Light;
}


/* testimonial */


.testimonial-text {
    color:#fb8b3c;
    font-size: 3rem;
    line-height: 1.2;

}

.carousel-img{
    width: 50%;
    border-radius: 100%;
    margin: auto;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    /* display: block; */
    
}

/* press */

/* .section-headings {
    font-size: 3rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    color: #f96f11;
} */

/*cta*/

/*footer*/
 
.footer-icons{
    margin:15px 15px;
    padding-top: 250px; 
}

.navbar-light .navbar-brand {
    color: #fb8b3c;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fb8b3c;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fb8b3c;
  }
  
  .navbar-toggler {
    background: #fb8b3c;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  





