body {
text-align: center;
    
} 


h3{
  color: #f96f11;
  display: block;
}



.btn{
  align-items: center;

}

html {
    background-color: #f96f11;
}

p{
  color:#f96f11;
}

h2 h3 h4{
  color:#f96f11;
}

/* change page selectors */
#squats {
display: none;
}

#lower {
  display: none;
  }

#short-flexibility {
  display: none;
}

#full-flexibility {
  display: none;
}

#mobility {
  display: none;
}

#upper {
  display: none;
}

#upper {
  display: none;
}

#seated-pigeon-pose-stretch {
  display: none;
}

#piriformis-stretch {
  display: none;
}

#butterfly-hip-stretch {
  display: none;
}


#frog-pose {
  display: none;
}

#kneeling-lunge-stretch {
  display: none;
}

#lumbar-rotation-stretch {
  display: none;
}

#dumbell-press{
  display: none;
}

#pullups{
  display: none;
}

#shoulder-press{
  display: none;
}

#lateral-raises{
  display: none;
}

#decline-bench{
  display: none;
}

#rows{
  display: none;
}

#hyperextensions{
  display: none;
}

#mobility-hips{
  display: none;
}

#mobility-ankles{
  display: none;
}

#mobility-hamstring{
  display: none;
}

#mobility-shoulders{
  display: none;
}

#mobility-knees{
  display: none;
}

#mobility-knees{
  display: none;
}

#quad-stretchs{
  display: none;
}

#hamstring-stretchs{
  display: none;
}

#back-stretchs{
  display: none;
}

#neck-stretchs{
  display: none;
}

#hamstring-stretch{
  display: none;
}

#quad-pull{
  display: none;
}

#upper-back-release{
  display: none;
}

#wall-stretch{
  display: none;
}

#neck-diagonal-pull{
  display: none;
}

#neck-side-pull{
  display: none;
}

#leg-press{
  display: none;
}

#leg-extension{
  display: none;
}

#hamstring-extension{
  display: none;
}

#calf-raises{
  display: none;
}



.container-fluid {
    padding: 2% 15%;
    background-color: #722805;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat-Light;
}


/* testimonial */


.testimonial-text {
    color:#fb8b3c;
    font-size: 3rem;
    line-height: 1.2;

}

.carousel-img{
    width: 50%;
    border-radius: 100%;
    margin: auto;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    /* display: block; */
    
}

.footer-icons{
    margin:15px 15px;
    padding-top: 250px; 
}

.navbar-light .navbar-brand {
    color: #fb8b3c;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fb8b3c;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fb8b3c;
  }
  
  .navbar-toggler {
    background: #fb8b3c;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }
  





